<div class="row">
    <h1 style="color: white;">Experiencia Laboral</h1>
        <div class="col-lg-1" style="background: #0c004d"></div>
        <div class="col-lg-11">
            <ul>
                <li style="color: white;">
                    <h1 style="color: white;">Trabajo 1 </h1> -
                    <h3 style="color: white;">(years)</h3>
                </li>
                <p style="color: white;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum saepe vero consequuntur quidem, iure soluta non totam, excepturi dignissimos optio incidunt consequatur reprehenderit possimus amet! Aut at reiciendis quam enim.
                </p>
            </ul>
            <ul>
                <li style="color: white;">
                    <h1 style="color: white;">Trabajo 2 </h1> -
                    <h3 style="color: white;">(years)</h3>
                </li>
                <p style="color: white;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum saepe vero consequuntur quidem, iure soluta non totam, excepturi dignissimos optio incidunt consequatur reprehenderit possimus amet! Aut at reiciendis quam enim.
                </p>
            </ul>
            <ul>
                <li style="color: white;">
                    <h1 style="color: white;">Trabajo 3 </h1> -
                    <h3 style="color: white;">(years)</h3>
                </li>
                <p style="color: white;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum saepe vero consequuntur quidem, iure soluta non totam, excepturi dignissimos optio incidunt consequatur reprehenderit possimus amet! Aut at reiciendis quam enim.
                </p>
            </ul>
         </div>
</div>