<div class="row">
    <h1 style="color: white;">Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="75"
        [title]="'CSS'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="75"
        [title]="'Team Works'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="75"
        [title]="'Angular'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="75"
        [title]="'JAVA'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="75"
        [title]="'HTML'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="75"
        [title]="'Ingles'"
        [titleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#444444'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>

</div>
